VITE_API_BASE_URL=https://satecho-auth.free.beeceptor.com
VITE_ONBOARDING_API_BASE_URL=https://satecho-onboarding.free.beeceptor.com
VITE_FARM_API_BASE_URL=https://satecho-farm.free.beeceptor.com
VITE_OPERATIONS_API_BASE_URL=https://satecho-operations.free.beeceptor.com
